@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

/* Add this to your global CSS */
.crud {
  z-index: 10;
}

/* The overlay should be behind the CRUD but above other content */
.bg-overlay {
  z-index: 5;
}